[workspace]
resolver = "2"
members = [
  "crates/soar-cli",
  "crates/soar-config",
  "crates/soar-core",
  "crates/soar-db",
  "crates/soar-dl",
  "crates/soar-package",
  "crates/soar-registry",
  "crates/soar-utils",
]

[workspace.package]
authors = ["Rabindra Dhakal <contact@qaidvoid.dev>"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/pkgforge/soar"
license = "MIT"
keywords = ["appimage", "binary", "linux", "package-manager", "portable"]
categories = ["command-line-utilities"]

[workspace.dependencies]
compak = "0.1.0"
diesel = { version = "2.3.2", features = [
  "64-column-tables",
  "returning_clauses_for_sqlite_3_35",
  "serde_json",
  "sqlite"
] }
diesel_migrations = { version = "2.3.0", features = ["sqlite"] }
documented = "0.9.2"
fast-glob = "1.0.0"
miette = { version = "7.6.0", features = ["fancy"] }
percent-encoding = "2.3.2"
rayon = "1.11.0"
regex = { version = "1.11.2", default-features = false, features = [
  "std",
  "unicode-case",
  "unicode-perl"
] }
serde = { version = "1.0.225", features = ["derive"] }
serde_json = { version = "1.0.145", features = ["indexmap"] }
serial_test = "3.2.0"
soar-cli = { path = "crates/soar-cli" }
soar-config = { path = "crates/soar-config" }
soar-core = { path = "crates/soar-core" }
soar-db = { path = "crates/soar-db" }
soar-dl = { path = "crates/soar-dl" }
soar-package = { path = "crates/soar-package" }
soar-registry = { path = "crates/soar-registry" }
soar-utils = { path = "crates/soar-utils" }
tempfile = "3.10.1"
thiserror = "2.0.17"
toml = "0.9.8"
toml_edit = "0.23.7"
tracing = { version = "0.1.41", default-features = false }
ureq = { version = "3.1.2", features = ["json"] }
url = "2.5.7"
xattr = "1.6.1"
zstd = "0.13.3"

[profile.release]
opt-level = 3
strip = true
lto = true
panic = "abort"
codegen-units = 1
