[workspace]
members = [
  "crates/soar-db",
  "crates/soar-utils",
  "soar-cli",
  "soar-core"
]
resolver = "2"

[workspace.package]
authors = ["Rabindra Dhakal <contact@qaidvoid.dev>"]
license = "MIT"
edition = "2021"
repository = "https://github.com/pkgforge/soar"
keywords = ["package-manager", "portable", "binary", "appimage", "linux"]
readme = "README.md"
categories = ["command-line-utilities"]

[profile.release]
strip = true
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"

[workspace.dependencies]
soar-utils = { path = "crates/soar-utils" }
futures = "0.3.31"
rayon = "1.11.0"
regex = { version = "1.11.2", default-features = false, features = ["unicode-case", "unicode-perl", "std"] }
reqwest = { version = "0.12.23", default-features = false, features = ["rustls-tls", "blocking", "http2", "json", "stream", "gzip"] }
rusqlite = { version = "0.37.0", features = ["bundled", "rusqlite-macros"] }
serde = { version = "1.0.225", features = ["derive"] }
serde_json = { version = "1.0.145", features = ["indexmap"] }
serial_test = "3.2.0"
soar-dl = { version = "0.6.3" }
tempfile = "3.10.1"
tracing = { version = "0.1.41", default-features = false }
