[workspace]
members = [
  "soar-cli",
  "soar-core"
]
resolver = "2"

[workspace.package]
authors = ["Rabindra Dhakal <contact@qaidvoid.dev>"]
license = "MIT"
edition = "2021"
repository = "https://github.com/pkgforge/soar"
keywords = ["package-manager", "portable", "binary", "appimage", "linux"]
readme = "README.md"
categories = ["command-line-utilities"]

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

[workspace.dependencies]
futures = "0.3.31"
rayon = "1.10.0"
regex = { version = "1.11.1", default-features = false, features = ["unicode-case", "unicode-perl", "std"] }
reqwest = { version = "0.12.12", default-features = false, features = ["rustls-tls", "blocking", "http2", "json", "stream", "gzip"] }
rusqlite = { version = "0.33.0", features = ["bundled", "rusqlite-macros"] }
serde = { version = "1.0.218", features = ["derive"] }
serde_json = { version = "1.0.139", features = ["indexmap"] }
soar-dl = "0.4.0"
tracing = { version = "0.1.41", default-features = false }
